<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>

<body>
<table>
    <tr>
        <td> <a th:href="${productPage} ">Products</a></td>
        <td> <a th:href="${formPage} ">Add new product</a></td>
        <td> <a th:href="${customerPage} ">Customers</a></td>
        <td> <a th:href="${addCustomerPage} ">Add new customer</a></td>
    </tr>
</table>

<h1>All products</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Cost</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:utext="${product.id}">ID</td>
        <td th:utext="${product.title}">Title</td>
        <td th:utext="${product.cost}">Cost</td>
    </tr>
</table>
</body>
</html>